{% extends "bootstrap/base.html" %}
{% block content %}
<form action="/" method="post">
{{ form.csrf_token }}
{{ form.name.label }}{{ form.name }} <br>
{{ form.password.label }}{{ form.password }}
<input type="submit" value="Sign Up">
</form>
{% endblock %}
<!--<form class="form form-horizontal" method="post">-->
  <!--{{ form.hidden_tag() }}-->
  <!--{{ wtf.form_errors(form, "only") }}-->

  <!--{{ wtf.horizontal_field(form.field1) }}-->
  <!--{{ wtf.horizontal_field(form.field2) }}-->

  <!--<div class="form-actions">-->
     <!--<button name="action_save" type="submit" class="btn btn-primary">Save changes</button>-->
  <!--</div>-->
<!--</form>-->